<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>热门葡萄酒产区地图</title>
	<link rel="stylesheet" type="text/css" href="{:C('DOMAIN.PUBLIC')}Jiuku/css/region/map_index.css">
</head>
<body>
<div id="wapwarp">
	<ul class="hostlist" border="0" cellpadding="0" cellspacing="0">
		<li><a href="c3.shtml">阿根廷</a></li>
		<li><a href="c5.shtml">澳大利亚</a></li>
		<li><a href="279.shtml">波尔多</a></li>
		<li><a href="327.shtml">勃艮地</a></li>
		<li><a href="c16.shtml">德国</a></li>
		<li><a href="c14.shtml">法国</a></li>
		<li><a href="1.shtml">加州</a></li>
		<li><a href="545.shtml">隆河</a></li>
		<li><a href="c39.shtml">南非</a></li>
		<li><a href="c34.shtml">葡萄牙</a></li>
		<li><a href="c40.shtml">西班牙</a></li>
		<li><a href="c32.shtml">新西兰</a></li>
		<li><a href="c21.shtml">意大利</a></li>
		<li><a href="c47.shtml">智利</a></li>
		<li></li>
		<li></li>
	</ul>
</div>
</body>
</html>